*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style-type: none;
}

:root {
    --color1: #FFF8E7;  /* Fond de page */
    --color2: #F9A826;  /* Dos des cartes / jaune chantier */
    --color3: #F06A6A;  /* Bordures cartes / rouge clair */
    --color4: #333333;  /* Texte / titres */
    --color5: #FFDD57;  /* Survol des cartes */
    --color6: #A3D5FF;  /* Carte révélée / fond bleu ciel */
    --color7: #4CAF50;  /* Score / compteur */
    --color8: #FFD700;  /* Effet glow / succès d’une paire */
    --color9: #f0fde6;  /*Body*/
    --color10:#c9e4be ; /*Body*/
}  

body {
    background-color: var(--color9);
    background-image: linear-gradient(45deg,var(--color9)25%, var(--color10) 25%, var(--color10) 50%, var(--color9)50%, var(--color9) 75%,var(--color10) 75%, var(--color10)100%);
    background-size: 40px 40px;
}

/* header */

h1{
    color: var(--color4);
    padding: 20px;
}


p{
    color: var(--color4);
     padding: 10px 20px;
}
/* end header */



main{
    display: flex;
    align-items: stretch;
    justify-content: center

}


/* card grid */
.cards{
    height: 80vw;
    width: 80vw; 
    margin: auto;
    border: 10px solid var(--color5);
    border-radius: 20px;
    display: grid; 
    gap: 7px;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(4,24%);
    padding: 5px;
}

.Eachcard{
position: relative;
}

.frontImage{
     height: 100%;
     width: 100%;
     border-radius: 10px;
    border: 4px solid var(--color3);
    /* position: absolute; */
    
}

.backImage{
    /* position: absolute; */
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #994caf;   
    color: var(--color10);
    text-align: center; 
   

}


@media all and (max-width: 800px){
    main{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .actions{
        width: 60vw;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .cards{
    height: 95vw;
    width: 95vw; 
   
    }
  
}

/* end card grid  */




/* grid ASIDE */

/* en dgrid ASIDE */
.actions{
    padding: 10px;
}

.end{
    padding: 0 20px;
}