*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style-type: none;
    cursor: url("assets/pointer.png"), pointer;
}

:root {
    --color1: #FFF8E7;  /* Fond de page */
    --color2: #F9A826;  /* /* Effet glow / succès d’une paire */
    --color3: #152096;  /* Bordures cartes / rouge clair */
    --color4: #333333;  /* Texte / titres */
    --color5: #d4b426;  /* Survol des cartes */
    --color6: #A3D5FF;  /* Carte révélée / fond bleu ciel */
    --color7: #4CAF50;  /* Score / compteur */
    --color8: #efdd1b;  /*Dos des cartes / jaune chantier */
    --color9: #b4dafa;  /*Body*/
    --color10:#eae89a ; /*Body*/
}  

body {
    background-color: var(--color9);
    background-image: linear-gradient(45deg,var(--color9)25%, var(--color10) 25%, var(--color10) 50%, var(--color9)50%, var(--color9) 75%,var(--color9) 75%, var(--color10)100%);
    background-size: 40px 40px;
    
}

/* header */

h1{
    color: var(--color4);
    padding: 20px;
}


p{
    color: var(--color4);
     padding: 10px 20px;
}
/* end header */



/* game part  */

.actions p {

}


.Rtg{
    padding: 5px;
    background-color:var(--color7);
    border-radius: 10px;
}

.Rtg:hover{
   background-color:var(--color6);
   cursor: pointer;
}

/* end game part  */




main{
    display: flex;
    align-items: stretch;
    justify-content: center

}


/* card grid */
.cards{
    height: 550px;
    width: 550px; 
    margin: auto;
    border: 7px solid var(--color3);
    border-radius: 20px;
    
    display: grid; 
    gap: 7px;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(4,24%);
    padding: 5px;
  
}

.both{
    position: relative;
    transform-style: preserve-3d;
}

.frontImage{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 3px solid var(--color3);
    position: absolute;
    transform: rotateY(180deg);
    

}

.backImage{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--color8);   
    color: var(--color10);
    text-align: center;
    backface-visibility: hidden;
}

.backImage:hover{
    border: 3px solid var(--color3);
    transition: border 0.1s;
    border-radius: 10px;
    
    
}

.flip{
transform: rotateY(180deg);
transition: 1s;
}





@media all and (max-width: 800px){
    main{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .actions{
        width: 60vw;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .cards{
    height: 95vw;
    width: 95vw; 
   
    }
  
}

/* end card grid  */




/* grid ASIDE */

/* en dgrid ASIDE */
.actions{
    padding: 10px;
    display: flex;
    align-items: center;
}

.end{
    padding: 0 20px;
}